body {

}

.navbar {
    border-bottom: 1px solid antiquewhite;
}

.pullrequest-body {
    white-space: pre-wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-body > .columns > .column.is-narrow {
    max-width: 50%;
}

.pullrequest-url {
    margin-bottom: 5px;
}

.pullrequest-labels {
    margin-top: 5px;
}